@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anton', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

$text-color : #17203F;

.container {
  max-width: 1140px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}



.navbarActive{
  transition: 0.5s ease-in;
  backdrop-filter: saturate(180%) blur(3px) !important;
  background: hsla(0,0%,100%,.8) !important;
  padding: 5px 0px !important;
}

.Navbar{
  padding: 24px 0;
  .navBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .nav-logo{
        p{
          margin: 0;
          padding: 0;
          font-size: 32px;
          font-weight: 700;
        }
    }

    .nav-list{
      display: flex;
      gap: 20px;
      align-items: center;
      list-style-type: none;
      padding: none !important;
      margin-top: 12px;

      .NavBtnList {
        display: flex;
        width: auto;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 80px;
        background: #F16F4F;
        gap: 8px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
        display: none;
      }

      
      
      .nav-link{
        color: #A9A9AA;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
      }

      .navActive {
        color: #FE390C;
      }
    }

    .NavBtn {
      display: inline-flex;
      padding: 12px 16px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 4px;
      border: 1px solid #FE390C;
      color: #FE390C;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        color: #fe380ca9;
      }
    }

    .nav__toggler{
      cursor: pointer;
      display: none;
      div{
        border-radius: 5px;
        width: 36px;
        height: 0.2rem;
        margin: 0.4rem;
        background: #F07454;
        transition: 0.5s ease-in;
      }
    }
  }
}

.headerSection {
  background: url(img/headerBg.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;
  width: 100%;
  height: 120vh;

  .heroContent {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 100vh;
  
    .heroInfo {
      h2 {
        color: #FE390C;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.96px;
        margin-bottom: 12px;
      }

      h3 {
        color: #FFF;
        font-family: Anton;
        font-size: 130px;
        font-weight: 400;
        line-height: 154px; 
        letter-spacing: 1.95px;
        text-transform: uppercase;
        margin-bottom: 12px;
      }

      span {
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px; 
        letter-spacing: -0.64px;
        display: block;
        margin-bottom: 24px;
      }

      a {
        display: inline-flex;
        padding: 16px 24px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 4px;
        background: #FE390C;
        color: #FFF;
        font-size: 12px;
        font-weight: 600;
        text-transform: capitalize;
      }
    }

    ul {
      a {
        div {
          width: 42px;
          height: 42px;
          flex-shrink: 0;
          background: #000000b2;
          border-radius: 50%;
          padding: 9px 10px 10px 10px;
          margin-bottom: 32px;

          img {
            transform: scale(1);
            transition: ease-in-out .5s;
  
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

// ABOUT

.aboutSection {
  background: #FFF;
  padding: 90px 0 87px 0;

  .aboutContent {
    display: flex;
    justify-content: center;

    .aboutInfos {
      display: flex;
      div {
        margin-right: 61px;
        img {
          width: 230px;
          height: 256.58px;
          flex-shrink: 0;
        }
  
        h2 {
          color: #111214;
          font-size: 14px;
          font-weight: 600;
          line-height: 20px; 
          letter-spacing: -0.56px;
          display: flex;
          width: 92px;
          margin-right: 12px;
          padding-top: 32px;
          span {
            color: #FE390C;
            font-family: Anton;
            font-size: 64px;
            font-weight: 400;
            letter-spacing: 1.28px;
            text-transform: uppercase;
            margin-left: 12px;
          }
        }
      }
  
      .about2 {
        padding-top: 40px;
        margin-right: 65px;
        span {
          width: 92px;
          display: flex;
          color: #FE390C;
          font-family: Anton;
          font-size: 64px;
          font-weight: 400;
          letter-spacing: 1.28px;
          text-transform: uppercase;
          h2 {
            color: #111214;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px; 
            letter-spacing: -0.56px;
            margin-left: 12px;
          }
        }
      }
    }

    .aboutInfo {
      padding-top: 10px;
      h2 {
        color: #FE390C;
        font-family: Anton;
        font-size: 80px;
        font-weight: 400;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        span {
          color: #111214;
          font-family: Anton;
          font-size: 40px;
          font-weight: 400;
          letter-spacing: 0.8px;
          text-transform: uppercase;
          margin-left: 24px;
        }
      }

      p {
        width: 429px;
        color: #A9A9AA;
        font-size: 14px;
        font-weight: 500;
        line-height: 32px; 
        letter-spacing: -0.28px;
        margin-bottom: 16px;
      }
    }
  }
}

.projectCard {
  position: relative;
  bottom: 100px;
  width: 100%;
  height: 335px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #111214;
  padding: 73px 0 79px 0;
  margin-bottom: 100px;
  
  h2 {
    color: #FFF;
    font-family: Anton;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    margin-bottom: 32px;
    text-align: center;
  }

  a {
    width: 138px;
    height: 47px; 
    display: inline-flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #FE390C;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  button {
    background: none;
    border: none;
    color: #A9A9AA;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px; 
    letter-spacing: -0.56px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    &::before {
      content: '';
      display: inline-block;
      background: url(img/Icon.svg); background-repeat: no-repeat; background-size: cover;background-position: center;
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }
}

// PARTNERS

.partnerSection {
  width: 100%;
  height: 310px;
  flex-shrink: 0;
  background: #F7F7F7;
  padding: 88px 0 79px 0;

  .partnersContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}